@model IEnumerable<WebApplication8.Models.DataWeb>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post" action="/Home/ScrapWeb">
        <input type="text" name="site" title="site" placeholder="enter keyword" spellcheck="true"/>
        <input type="submit" title="Scraping" />
    </form>
</div>

<div>
    <h5>Sonuçlar:</h5>
    <div>
        @if(Model!=null && Model.Any())
        {
            @if (Model.Count() != 0)
            {
                foreach (var data in Model)
                {
                    <div>
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@data.Id">@data.Name</a>
                    </div>
                }

            }
            else
            {
                <p>No Data</p>
            }
        }
        


    </div>
</div>